body {
  background: #faf3dd;
}

header {
  text-align: center;
}

.box {
  text-align: center;
  font-size: 5em;
  border: 10px solid #16213e;
  border-radius: 2rem;
  
}

#gameBoard {
  padding: 5px;
  background:#16213e;
  border: 2px solid #16213e;
  border-radius: 2rem 0 0 2rem;
}


#score-board {
  background: #dbe3e5;
  border: 2px solid #dbe3e5;
  border-radius: 0 2rem 2rem 0;
  padding-top: 1%;
}

#auto-run-block {
  margin-top: 5%;
}

#instructions {
  margin: 7% auto;
}

/* animations */
.box-transition {
  transition: 0.1s;
}
.box-slide-right {
  animation-duration: 0.1s;
  animation-name: slide-right;
}

.box-slide-left {
  animation-duration: 0.1s;
  animation-name: slide-left;
}

.box-slide-up {
  animation-duration: 0.1s;
  animation-name: slide-up;
}

.box-slide-down {
  animation-duration: 0.1s;
  animation-name: slide-down;
}

@keyframes slide-right {
  0% {
    opacity: 0.99;
    transform: translateX(-1px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes slide-left {
  0% {
    opacity: 0.99;
    transform: translateX(1px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes slide-down {
  0% {
    opacity: 0.99;
    transform: translateY(-1px);
 }
 100% {
    opacity: 1;
    transform: translateY(0);
 }
}

@keyframes slide-up {
  0% {
    opacity: 0.99;
    transform: translateY(1px);
 }
 100% {
    opacity: 1;
    transform: translateY(0);
 }
}