body {
  background: #faf3dd;
}
header {
  text-align: center;
}

.box {
  text-align: center;
  font-size: 5em;
  border: 10px solid #16213e;
  border-radius: 2rem
}

#gameBoard {
  padding: 5px;
  background:#16213e;
  border: 2px solid #16213e;
  border-radius: 2rem 0 0 2rem;
}


#score-board {
  background: #dbe3e5;
  border: 2px solid #dbe3e5;
  border-radius: 0 2rem 2rem 0;
}


